<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CV</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href=" {{ url_for('static', filename='css/aos.css') }}" type="text/css" rel="stylesheet">
    <link href=" {{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css" rel="stylesheet">
    <link href=" {{ url_for('static', filename='css/main.css') }}" type="text/css" rel="stylesheet">
    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <div class="container">
            <div class="navbar-translate"><a class="navbar-brand" href="#" rel="tooltip">Julian Valdman</a>
              <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Activities</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="green">
      <div class="page-header-image" data-parallax="true" style="background-image: url('static/images/cc-bg-1.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="static/images/Head photo.png" alt="Image"/></a></div>
          <div class="h2 title">Julian Valdman</div>
          <p class="category text-white">Research Assistant, <br> Data Science and Economics student</p>
            <a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Contact me</a>
            <a class="btn btn-primary" href="#" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container">
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://www.linkedin.com/in/julian-v-5851a3119/" rel="tooltip" title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/Jullemand" rel="tooltip" title="Follow me on Github"><i class="fa fa-github"></i></a>
              <!--
              <a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Google+"><i class="fa fa-google-plus"></i></a>
              <a class="btn btn-default btn-round btn-lg btn-icon" href="#" rel="tooltip" title="Follow me on Instagram"><i class="fa fa-instagram"></i></a>
              -->
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>My name is Julian Valdman, and I study Data Science and Economics.</p>
            <p>I am an ambitious, young professional with strong analytical skills. 
              With the use of programming and data science, I solve hands-on economic problems and create maximum value for my stakeholders.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">21</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">julian_1108@hotmail.com</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">+45 42 41 09 78</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">Nyelandsvej 21C, 2TH, 2000 Frederiksberg</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">Danish, English</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Python</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                <span class="progress-value">Advanced</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">SQL</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                <span class="progress-value">Skilled</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">VBA</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                <span class="progress-value">Skilled</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">R</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                <span class="progress-value">Familiarized</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Alteryx & Tableau</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                <span class="progress-value">Familiarized</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Excel</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                <span class="progress-value">Advanced</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="h4 text-center mb-4 title" id="myDiv">Events and participations</div>
        <div class="nav-align-center">
          <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item"><a onClick="myfunction_events()"  class="nav-link active" data-toggle="tab" href="#Events" role="tablist"><i class="fa fa-university" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a onClick="myfunction_courses()" class="nav-link" data-toggle="tab" href="#Courses" role="tablist"><i class="fa fa-mortar-board" aria-hidden="true"></i></a></li>
            <li class="nav-item"><a onClick="myfunction_interest()" class="nav-link" data-toggle="tab" href="#Hobbies" role="tablist"><i class="fa fa-coffee" aria-hidden="true"></i></a></li> 
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content gallery mt-5">
      <div class="tab-pane active" id="Events">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="static/images/events/casecomp_1.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Polit Case Competition 2021<br>Data Analytics Case Competition 2021</div>
                      <p>Case Competitions</p>
                    </figcaption>
                  </figure></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="static/images/events/kpmg_tech.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Tech Academy 2020</div>
                      <p>Workshops</p>
                    </figcaption>
                  </figure></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="static/images/events/techlabs_winning_1.png" alt="Image"/>
                    <figcaption>
                      <div class="tester h4">Digital Shaper Program 2020</div>
                      <p>Winning Project</p>
                    </figcaption>
                  </figure></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="static/images/events/politics_1.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Konservativ Ungdom &<br> Konservative Studerende</div>
                      <p>Party Memberships</p>
                    </figcaption>
                  </figure></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="Courses" role="tabpanel">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="static/images/extra_courses/web_dev.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Web Development with Flask</div>
                      <p>Online Courses</p>
                    </figcaption>
                  </figure></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="static/images/extra_courses/deep_learning.png" alt="Image"/>
                    <figcaption>
                      <!--<div class="h4">Deep Learning and Neural Networks in Python</div>-->
                      <div class="h4">Deep Learning in Python</div>
                      <p>Online Courses</p>
                    </figcaption>
                  </figure></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="static/images/extra_courses/mysql.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">MySQL for Data Analytics</div>
                      <p>Online Courses</p>
                    </figcaption>
                  </figure></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="static/images/extra_courses/russian_small.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Russian Classes</div>
                      <p>Evening Classes</p>
                    </figcaption>
                  </figure></div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="Hobbies" role="tabpanel">
        <div class="ml-auto mr-auto">
          <div class="row">
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="static/images/interests_and_hobbies/charcoal.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Charcoal Painting</div>
                      <p>Creativity</p>
                    </figcaption>
                  </figure></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="static/images/interests_and_hobbies/biking.jpg" alt="Image"/>
                    <figcaption>
                      <div class="h4">Time Trial Biking</div>
                      <p>Sport</p>
                    </figcaption>
                  </figure></div>
            </div>
            <div class="col-md-6">
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="static/images/interests_and_hobbies/investing.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Stock Market and Investing</div>
                      <p>Side Project</p>
                    </figcaption>
                  </figure></div>
              <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                  <figure class="cc-effect"><img src="static/images/interests_and_hobbies/philosophy.png" alt="Image"/>
                    <figcaption>
                      <div class="h4">Reading Philosophy</div>
                      <p>culture</p>
                    </figcaption>
                  </figure></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Feb 2021 - Present</p>
            <div class="h5">Copenhagen Economics</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Research Assistant</div>
            <p>Conducting economic analyses with economists in areas as:<br><b>Competition, Dispute Support, Auction Support and Financial Sector</b></p>
            <p>Microeconomic simulations and statistics with the following tools:<br><b>Python, R, SQL and VBA</b></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Jun 2019 - Jan 2021</p>
            <div class="h5">Christensen Kjærulff</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Junior Consultant, RPA</div>
            <p>Automating and streamlining accounting and regular office processes through following tools:<br>
              <b>Python, SQL, VBA and Foxtrot RPA</b></p>
            <p>Developing office robot scripts in collaboration with external consultants</p>
            <p>Presenting our work and solutions to clients and stakeholders at conferences and meetings</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <p>Apr 2020 - Sep 2020</p>
            <div class="h5">Nordea Quant</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Internship, Ad-Hoc</div>
            <p>Outlining the blueprint and structure of a MSSQL Database and setting it up together with Python</p>
            <p>Cleaning and mapping financial items from various data sources in Python </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2019 - 2022</p>
            <div class="h5">Bachelor's Degree</div>
            <div class="h6">(Ongoing)</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Data Science and Economics</div>
            <p class="category">University of Copenhagen</p>
            <p>Understanding of <b>Data Science, Mathematics and Statistics</b> including: <br>Various programming languages, use of algorithms, numerical methods and databases</p>
            <p>Learning within the field of <b>Economic Modelling, Financial Theory</b> and <b>Econometrics</b></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2020</p>
            <div class="h5">Extra Bachelor Course</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Machine Learning, XCS229i</div>
            <p class="category">Stanford University</p>
            <p>Introduction to <b>Neural Networks, Supervised and Unsupervised machine learning models</b> such as: <br>
              Feature Maps, Logistic Regression, Artificial Neural Networks (ANN), K-Means and Naive Bayes </p>
            <p>Explicit mathematical derivations, how to implement in Python and Visualisation tools</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2016 - 2019</p>
            <div class="h5">High School</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Business Elite</div>
            <p class="category">Niels Brock, det internationale gymnasium</p>
            <p>3 Economics/Finance subjects and Mathematics at highest level</p>
            <p>The subjects were: Business Economics, International Economics and Strategy & Marketing</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="section" id="reference">
  <div class="container cc-reference">
    <div class="h4 mb-4 text-center title">References</div>
    <div class="card" data-aos="zoom-in">
      <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
        <ol class="carousel-indicators">
          <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
          <li data-target="#cc-Indicators" data-slide-to="1"></li>
          <li data-target="#cc-Indicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-lg-2 col-md-3 cc-reference-header"><img src="static/images/reference-image-1.jpg" alt="Image"/>
                <div class="h5 pt-2">Aiyana</div>
                <p class="category">CEO / WEBM</p>
              </div>
              <div class="col-lg-10 col-md-9">
                <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-2 col-md-3 cc-reference-header"><img src="static/images/reference-image-2.jpg" alt="Image"/>
                <div class="h5 pt-2">Braiden</div>
                <p class="category">CEO / Creativem</p>
              </div>
              <div class="col-lg-10 col-md-9">
                <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-lg-2 col-md-3 cc-reference-header"><img src="static/images/reference-image-3.jpg" alt="Image"/>
                <div class="h5 pt-2">Alexander</div>
                <p class="category">CEO / Webnote</p>
              </div>
              <div class="col-lg-10 col-md-9">
                <p> Habitasse venenatis commodo tempor eleifend arcu sociis sollicitudin ante pulvinar ad, est porta cras erat ullamcorper volutpat metus duis platea convallis, tortor primis ac quisque etiam luctus nisl nullam fames. Ligula purus suscipit tempus nascetur curabitur donec nam ullamcorper, laoreet nullam mauris dui aptent facilisis neque elementum ac, risus semper felis parturient fringilla rhoncus eleifend.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('static/images/map1.png')">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="/sendemail" method="POST">
                      <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                          <button class="btn btn-primary" type="submit">Send</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Address </strong></p>
                    <p class="pb-2">Nyelandsvej 21C, 2TH <br> 2000 Frederiksberg</p>
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">+45 42 41 09 78</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>julian_1108@hotmail.com</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center">
          <a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/julian-v-5851a3119/""><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a>
          <a class="cc-github btn btn-link " href="https://github.com/Jullemand"><i class="fa fa-github fa-2x " aria-hidden="true"></i></a>
          <!--<a class="cc-google-plus btn btn-link" href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>-->
          <!-- <a class="cc-instagram btn btn-link" href="#"><i class="fa fa-instagram fa-2x " aria-hidden="true"></i></a> -->
      </div>
      <div class="h4 title text-center">Julian Valdman</div>
      <div class="text-center text-muted">
        <p>Updated October 2021 <br> References can be provided upon request </p>
        <!-- <p>&copy; Creative CV. All rights reserved.<br>Design - <a class="credit" href="https://templateflip.com" target="_blank">TemplateFlip</a></p> -->
      </div>
    </footer>
    <script src=" {{ url_for('static', filename='js/core/jquery.3.2.1.min.js') }}"></script>
    <script src=" {{ url_for('static', filename='js/core/popper.min.js') }}"></script>
    <script src=" {{ url_for('static', filename='js/core/bootstrap.min.js') }}"></script>
    <script src=" {{ url_for('static', filename='js/now-ui-kit.js') }}"></script>
    <script src=" {{ url_for('static', filename='js/aos.js') }}"></script>
    <script src=" {{ url_for('static', filename='scripts/main.js') }}"></script>
  </body>
</html>